---
interface Props {
  work: {
    url: string;
    company: string;
    description: string;
    team: string;
    time: string;
    role: string;
  };
}

const { work } = Astro.props;
---

<div class="flex flex-col gap-4 mb-20 lg:flex-row">
  <h1 class="group lg:w-1/2">
    <a href={work.url} class="text-xl sm:text-3xl">
      {work.company}
    </a>
    <span class="transition-all group-hover:ml-2 sm:text-3xl">→</span>
  </h1>
  <div class="flex flex-col gap-4 lg:w-1/2 lg:gap-16">
    <div class="text-sm sm:text-base">{work.description}</div>
    <div class="flex justify-between text-sm sm:text-base">
      <div class="flex flex-col gap-4 w-1/4">
        <span>Team</span>
        <span>{work.team}</span>
      </div>
      <div class="flex flex-col gap-4 w-1/4">
        <span>Team</span>
        <span>{work.time}</span>
      </div>
      <div class="flex flex-col gap-4 w-1/4">
        <span>Team</span>
        <span>{work.role}</span>
      </div>
    </div>
  </div>
</div>
